#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier.without_ext).captures

  "/#{y}/#{m}/#{slug}/index.html"
end

route '/**/*.{html,md,erb}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile "/*.erb" do
  filter :erb
  layout '/default.*'
end

compile "/posts/*.erb" do
  filter :erb
  layout '/post.html'
end

compile '/*.md' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb

#othing special to do with images / javascript / asset
# Just copy it to public directory
compile '/images/*/' do
end

# CoffeeScript file are convert to JS file by my Guardfile

compile '/javascripts/*/' do
end

compile '/assets/*/' do
end

compile '/css/*/' do
end

route '/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '/javascripts/*/' do
  item.identifier.chop + '.js'
end

route '/assets/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route 'sitemap' do
  item.identifier.chop + '.xml'
end

route '*' do
  item.identifier + 'index.html'
end
