---
title: "My Blog"
---

<h1>Blog</h1>

<div class="row blog-posts">
  <div class="row post">
    <hr>
    <div class="col-xs-12 col-md-4">
      <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    </div>
    <div class="col-xs-12 col-md-8">
      <h2>
        <a href="#">Post 1</a>
      </h2>
      <p>
        <span class="glyphicon glyphicon-time"></span>
         Postado em <b>31 de Dezembro de 2015 às 10:00h</b> por <b>William Shakespeare</b>
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia
        repellat ut tempore laborum possimus eum dicta id animi corrupti debitis
      ipsum officiis rerum.</p>
      <a class="btn btn-primary" href="#">Leia Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div class="row post">
    <hr>
    <div class="col-xs-12 col-md-4">
      <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    </div>
    <div class="col-xs-12 col-md-8">
      <h2>
        <a href="#">Post 1</a>
      </h2>
      <p>
        <span class="glyphicon glyphicon-time"></span>
         Postado em <b>31 de Dezembro de 2015 às 10:00h</b> por <b>William Shakespeare</b>
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia
        repellat ut tempore laborum possimus eum dicta id animi corrupti debitis
      ipsum officiis rerum.</p>
      <a class="btn btn-primary" href="#">Leia Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>
